<!-- this page is used to edit the user based on the sent id  -->
<div class="card ml-auto mr-auto mt-5 w-25" style="width: 18rem;">
    
    <div class="card-body">
        <h5 class="card-title">{{'operations.edit'|translate}}</h5>
<form id="frm3" (submit)="HandleEditing($event)">
    <div class="">
      <div class="form-group">
        <label for="nameInput">{{'TableHeaders.name'|translate}}</label>
        <input
          type="text"
          class="form-control"
          id="nameInput"
          placeholder="Enter the user name....."
        />
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">{{'TableHeaders.email'|translate}}</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Enter the user mail....."
        />
      </div>
      <div class="form-group">
        <label for="phoneInput">{{'TableHeaders.phone'|translate}}</label>
        <input
          type="tel"
          class="form-control"
          id="phoneInput"
          pattern="[0-9]+"
          title="must enter number only"
          required
          placeholder="Enter the user phone number"
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">{{'TableHeaders.status'|translate}}</label>
        <select class="form-control" id="StatusSelect">
          <option>active</option>
          <option> soft_deleted </option>
        </select>
      </div>
    </div>
    <input type="submit" value="{{'frmbtns.submit'|translate}}"  class="btn btn-primary" />
  </form>
</div>
</div>