<div class="container ">
  <div class="row ">
    <!-- Button trigger modal -->
    <div class="col-3 offset-2 ">
      <button
        type="button"
        class="btn btn-success d-inline-block"
        data-toggle="modal"
        data-target="#AddModal"
      >
        Add User
      </button>
    </div>
    <div
      class="modal fade"
      id="AddModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="AddModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="AddModalLabel">Add user</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="frm1" (submit)="HandleAdding($event)">
              <div class="">
                <div class="form-group">
                  <label for="nameInput">Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="nameInput"
                    placeholder="Enter the user name....."
                  />
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input
                    type="email"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    placeholder="Enter the user mail....."
                  />
                </div>
                <div class="form-group">
                  <label for="phoneInput">Phone</label>
                  <input
                    type="tel"
                    class="form-control"
                    id="phoneInput"
                    pattern="[0-9]+"
                    title="must enter number only"
                    required
                    placeholder="Enter the user phone number"
                  />
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Id</label>
                  <input
                    type="text"
                    pattern="[0-9]+"
                    title="Must enter numbers only"
                    class="form-control"
                    id="idInput"
                    placeholder="Enterthe user id"
                  />
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Status</label>
                  <select class="form-control" id="StatusSelect">
                    <option>active</option>
                    <option> soft_deleted </option>
                  </select>
                </div>
              </div>
              <input type="submit" id="frmaddId" [hidden]="true" />
            </form>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              (click)="HandleAddForm()"
              class="btn btn-primary"
            >
              Save changes
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <h6>Sort</h6>
      <div class="form-check mt-3">
        <input
          class="form-check-input"
          type="radio"
          name="exampleRadios"
          id="exampleRadios1"
          (change)="HandleSort('name')"
          value="option1"
        />
        <label class="form-check-label" for="exampleRadios1">
          Name
        </label>
      </div>
      <div class="form-check mt-3">
        <input
          class="form-check-input"
          type="radio"
          name="exampleRadios"
          (change)="HandleSort('email')"
          id="exampleRadios2"
          value="option2"
        />
        <label class="form-check-label" for="exampleRadios1">
          Email
        </label>
      </div>
    </div>
    <div class="col-9">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">mail</th>
            <th scope="col">status</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data; let i = index">
            <td>{{ item.name }}</td>
            <td>{{ item.phone }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.Status }}</td>
            <td *ngIf="_LoginServic.isAdmin()">
              <button
                class="btn btn-danger mr-1"
                (click)="HandleDelete(item.id)"
                
              >
                Delete
              </button>
              <a class="btn btn-primary" routerLink="/edit/{{ item.id }}">
                Edit
              </a>
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <div class="" style="   text-align: center;">
        <div style="display: inline-block; height: 100%;
        min-height: 100%;">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#">Previous</a>
            </li>
            <li class="page-item" *ngFor="let item of PaginationNumbers">
              <a class="page-link" routerLink="/UserList/{{ item }}">{{
                item
              }}</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
